.Button {
    width: 25%;
    height: 100%;
    font-size: 15pt;
    background-color: white;
    outline: none;
    border: 1px solid transparent;
    transition: all .2s;
}

.Button:hover {
    background-color: darkblue;
    color: white;
}

.Button:active {
    transform: scale(.95);
}

.Button-primary {
    color: rebeccapurple;
}

.Button-operator {
    color: darkorange;
}

.Button-secondary {
    color: red;
}

.Button-large {
    width: 50%;
    background-color: gold;
    color: white;
}